body, html {
  font-size: 0.9rem;
  background: #f2f3f7
}
body, .form-control {
  font-size: 0.9rem
}
body,
html,
#root,
.App {
  min-height: 100vh;
  margin-top: 2rem;
}
.btn {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.66rem;
  border-radius: 0.5rem;
  box-shadow: 0 .1rem .1rem rgba(0,0,0,.05)!important
}
.App-link {
  color: #61dafb;
}

.btn-light {
  border-color: #dedede
}

.btn-light:hover {
  border-color: #dedede;
  background-color: #f3f3f3
}

.shadow {
  box-shadow: 0 .1rem .1rem rgba(0,0,0,.05)!important
}

.modal-content,
.card {
  overflow: hidden;
  border-radius: 0.756rem
}

.modal-content {
  /* position: inherit; */
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 24rem;
}

hr {
  opacity: 0.1
}

.table th {
  border-top: 1px solid #0000001a;
  border-bottom: 1px solid #0000001a;
  border-bottom-color: #0000001a!important
}
.table td {
   text-align: left;
}
.table tr th:first-child,
.table tr td:first-child {
  padding-left: 0
}
.table tr th:last-child,
.table tr td:last-child {
  padding-right: 0
}

.form-control {
  background: #f5f7f9;
  font-weight: 400;
  padding: .5rem .75rem;
  border: none
}
.form-control:hover {
  background: #f5f7f9;
}
.form-control::placeholder,
.form-control::-ms-input-placeholder,
.form-control:-ms-input-placeholder {
  color: #9fa8b0
}
.form-control:focus {
  background: #f5f7f9;
}

#invoiceCapture {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.invoice-table {
  width: 100%;
  border-spacing: 0;
  background-color: #ffffff;
  border-radius: 0.756rem;
  outline: 0.1rem solid rgba(0,0,0,.125);
  overflow: hidden;
  margin-top: 2.25rem;
}

.invoice-table__col-head {
  padding: 1rem 1.2rem;
  font-weight: 600;
  color: rgba(77, 77, 77, 1);
  background-color: #f5f7f9;
  box-shadow: 0 .1rem .1rem rgba(0,0,0,.05)!important
}

.invoice-table__col-head i {
  margin-left: 0.3rem;
}

.invoice-table__col-head, .invoice-table__row {
  text-align: center;
}

.invoice-table__row {
  padding: 1.4rem 1.2rem;
  color: rgba(77, 77, 77, 1);
  max-width: 12rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.invoice-table__row--active {
  color: #0b5ed7;
  font-weight: 500;
}

.toast {
  top: 4%;
  margin-left: 40%;
  position: absolute;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  background-color: #ff0000;
}

@media screen and (max-width: 1256px) {
  .toast {
    margin-left: 50%;
  }
}

@media screen and (max-width: 768px) {
  .toast {
    margin-left: 28%;
  }
}

.ribbon {
  transform: translateY(-2.5rem);
  width: 100%;
  border-spacing: 0;
  background-color: #ffffff;
  border-radius: 0.756rem;
  outline: 0.1rem solid rgba(0,0,0,.125);
  overflow: hidden;
  padding: 1rem;
}

.clear-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: underline;
  color: #0b5ed7;
}

.no-invoice {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  min-height: 30rem;
  width: 100%;
  border-spacing: 0;
  background-color: #ffffff;
  border-radius: 0.756rem;
  outline: 0.1rem solid rgba(0,0,0,.125);
  overflow: hidden;
  margin-top: 2.25rem;
}